<div>
  <img src="./assets/img/businesses.png" style="width: 100%;" alt="">
</div>

<div class="container marketing py-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center">
          <img src="./assets/img/car_loan.jpg" width="140" class="rounded-circle" height="140" alt="">
        </div>
        <h2 class="text-center mt-3">Child Account</h2>
        <p class="text-justify py-3">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="text-center">
          <img src="./assets/img/home_loan.jpg" width="140" class="rounded-circle" height="140" alt="">
        </div>
        <h2 class="text-center mt-3">Child Account</h2>
        <p class="text-justify py-3">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="text-center">
          <img src="./assets/img/child.jpg" width="140" class="rounded-circle" height="140" alt="">
        </div>
        <h2 class="text-center mt-3">Child Account</h2>
        <p class="text-justify py-3">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 py-5">       
        <h2>Loan for long time</h2>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi possimus optio, incidunt voluptatem quo alias nam modi sapiente sint doloremque id laborum est impedit architecto quam commodi! Non, totam.</p>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi possimus optio, incidunt voluptatem quo alias nam modi sapiente sint doloremque id laborum est impedit architecto quam commodi! Non, totam.</p>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi possimus optio, incidunt voluptatem quo alias nam modi sapiente sint doloremque id laborum est impedit architecto quam commodi! Non, totam.</p>
        </div>
      <div class="col-md-5">
        <img src="./assets/img/personal_image.jpg" style="width: 450px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
     
      <div class="col-md-7 order-md-2 py-5">       
        <h2>Loan for long time</h2>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi possimus optio, incidunt voluptatem quo alias nam modi sapiente sint doloremque id laborum est impedit architecto quam commodi! Non, totam.</p>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi possimus optio, incidunt voluptatem quo alias nam modi sapiente sint doloremque id laborum est impedit architecto quam commodi! Non, totam.</p>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi possimus optio, incidunt voluptatem quo alias nam modi sapiente sint doloremque id laborum est impedit architecto quam commodi! Non, totam.</p>
        </div>
      
      <div class="col-md-5 order-md-1">
        <img src="./assets/img/old_img.jpg" class="responsive-image" style="width: 450px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        
          <h2>Loan for long time</h2>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi possimus optio, incidunt voluptatem quo alias nam modi sapiente sint doloremque id laborum est impedit architecto quam commodi! Non, totam.</p>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi possimus optio, incidunt voluptatem quo alias nam modi sapiente sint doloremque id laborum est impedit architecto quam commodi! Non, totam.</p>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi possimus optio, incidunt voluptatem quo alias nam modi sapiente sint doloremque id laborum est impedit architecto quam commodi! Non, totam.</p>
          
      </div>
      <div class="col-md-5">
        <img src="./assets/img/child.jpg" style="width: 450px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <div class="container py-5">
    <h2>Give Us Your Opinion..........</h2>
    <textarea style="font-size: 25px;" type="text" class="form-control" name="comment" [(ngModel)]="comment" placeholder="Please give your comment"></textarea>
    <button style="font-size: 25px;" (click)="post()" class="btn btn-info mt-2 float-right">Submit</button>              
    <br>
    <div *ngFor = "let commm of postComment">
      <p>{{postComment}}</p>
    </div>
  </div>