<div style="width: 100%;">
  <div class="text-center pt-5">
    <h1>{{title}}</h1>
  </div>
  <div class="py-5">
    <form class="form-inline mt-2" style="font-size: 25px;">
      <div class="col-md-10"></div>
      <div class="col-md-2 d-flex" id="search" style="font-size: 25px;">
        <input class="form-control" type="text" placeholder="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>

    </form>
  </div>
  <div class="py-5">
    <table class="table table-striped table-hover table-bordered">
      <thead class="bg-success text-center">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Mobile</th>          
          <th>Address</th>
          <th>Date</th>
          <th>openingbalance</th>
          <th>Action</th>
        </tr>
      </thead>
      <tr *ngFor="let item of accountList">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.mobile}}</td>
        <td>{{item.address}}</td>
        <td>{{item.date}}</td>
        <td>{{item.openingbalance}}</td>
        <td>
          <a class="btn btn-success" routerLink='/edit' routerLinkActive="active">Edit</a> |
          <a class="btn btn-danger">Delete</a>
        </td>
      </tr>
    </table>
  </div>
</div>
