<div class="containe py-5">
  <h1 class="text-center mb-5">{{title}}</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #signUp = "ngForm" (ngSubmit)="submit()">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="name">Name: </label>
            </div>
            <div class="col-md-10">
              <input type="name" class="form-control" id="name" name="name" [(ngModel)]="employee.name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="gender">Gender: </label>
            </div>
            <div class="col-md-10">

              <input type="radio" id="Gender" Value="Male" name="gender" [(ngModel)]="employee.gender">Male
              <input type="radio" id="Gender" Value="Male" name="gender" [(ngModel)]="employee.gender">Female
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="mobile">Mobile: </label>
            </div>
            <div class="col-md-10">
              <input type="mobile" class="form-control" id="mobile" name="mobile" [(ngModel)]="employee.mobile">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="email">Email: </label>
            </div>
            <div class="col-md-10">
              <input type="email" class="form-control" id="email" name="name" [(ngModel)]="employee.email">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="date">Date: </label>
            </div>
            <div class="col-md-10">

              <input type="date" class="form-control" id="date" name="date" [(ngModel)]="employee.date">
            </div>
          </div>
        </div>       
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">

              <label for="Skill">Skill: </label>
            </div>
            <div class="col-md-10">

              <input type="checkbox" id="skill" Value="MBA" name="skill" [(ngModel)]="employee.skill">BBA
              <input type="checkbox" id="skill" Value="BBA" name="skill" [(ngModel)]="employee.skill">MBA
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="post">Post: </label>
            </div>
            <div class="col-md-10">
              <input type="post" class="form-control" id="post" name="post" [(ngModel)]="employee.post">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="file">Image: </label>
            </div>
            <div class="col-md-10">
              <input type="file" id="file" name="file" [(ngModel)]="employee.file">
            </div>
          </div>
        </div>
       
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="email">Address: </label>

            </div>
            <div class="col-md-10">
              <Textarea class="form-control" id="address" name="address" [(ngModel)]="employee.address"></Textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="password">Password: </label>
            </div>
            <div class="col-md-10">
              <input type="post" class="form-control" id="password" name="password" [(ngModel)]="employee.password">
            </div>
          </div>
        </div>
       
        <div class="form-group">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10 justify-content-center">
              <a class="btn btn-success btn-lg" routerLink="/login" routerLinkActve="active">Signup</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
