<div class="containe py-5">
  <h1 class="text-center mb-5">{{title}}</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="save()" #signUp="ngForm" >
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="name">Name: </label>
            </div>
            <div class="col-md-10">
              <input [(ngModel)]="employee.name" type="name" class="form-control" id="name" name="name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="mobile">Mobile: </label>
            </div>
            <div class="col-md-10">
              <input  [(ngModel)]="employee.mobile" type="mobile" class="form-control" id="mobile" name="mobile">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="email">Email: </label>
            </div>
            <div class="col-md-10">
              <input [(ngModel)]="employee.email" type="email" class="form-control" id="email" name="name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="date">Date: </label>
            </div>
            <div class="col-md-10">

              <input [(ngModel)]="employee.date" type="date" class="form-control" id="date" name="date">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="post">Post: </label>
            </div>
            <div class="col-md-10">
              <input [(ngModel)]="employee.post" type="post" class="form-control" id="post" name="post">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="email">Address: </label>

            </div>
            <div class="col-md-10">
              <textarea [(ngModel)]="employee.address" class="form-control" id="address" name="address"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="password">Password: </label>
            </div>
            <div class="col-md-10">
              <input [(ngModel)]="employee.password" class="form-control" id="password" name="password">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10 justify-content-center">
              <button type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
