 <div class="bg-info container-fluid px-0" 
 style="width: 100%; font-size: 17px; font-weight: bold; height: 45px;">
    <nav class="navbarStyle">
        <div class="text-dark">
          <div class="navbar-header">
            <a><img src="./assets/img/logo.png" style="width: 42px"></a>
          </div>
          <ul class="nav float-left text-dark">
            <li class="active"><a href="/"  class="text-dark">Home</a></li>
            <li><a routerLink="/account" class="text-dark">Account</a></li>
            <li><a routerLink="/about" routerLinkActive="active" class="text-dark">About</a></li>
            <li><a routerLink="/show" routerLinkActive="active" class="text-dark">Customers</a></li>
          </ul>
          <ul class="nav float-right">
            <li><a class="btn btn-outline" routerLink="/signup" routerLinkActive="active" class="text-dark"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a routerLink="/login"routerLinkActive="active" class="text-dark"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
 </div>

 <router-outlet></router-outlet>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
