<div class="containe py-5">
  <h1 class="text-center mb-5">{{title}}</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="name">Name: </label>
            </div>
            <div class="col-md-10">
              <input type="name" class="form-control" id="name" name="name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="gender">Gender: </label>
            </div>
            <div class="col-md-10">

              <input type="radio" id="Gender" Value="Male" name="nmale">Male
              <input type="radio" id="Gender" Value="Male" name="fmale">Female
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="mobile">Mobile: </label>
            </div>
            <div class="col-md-10">
              <input type="mobile" class="form-control" id="mobile" name="mobile">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="email">Email: </label>
            </div>
            <div class="col-md-10">
              <input type="email" class="form-control" id="email" name="email">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="education">Education: </label>
            </div>
            <div class="col-md-10">
              <input type="education" class="form-control" id="education" name="education" name="education">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="date">Date: </label>
            </div>
            <div class="col-md-10">

              <input type="date" class="form-control" id="date" name="date">
            </div>
          </div>
        </div>       
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="opebalance">Opening Balance: </label>
            </div>
            <div class="col-md-10">

              <input type="text" class="form-control" id="opebalance" name="opebalance">
            </div>
          </div>
        </div> 

      
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="file">Image: </label>
            </div>
            <div class="col-md-10">
              <input type="file" id="file" name="file">
            </div>
          </div>
        </div>
       
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="email">Address: </label>

            </div>
            <div class="col-md-10">
              <Textarea class="form-control"></Textarea>
            </div>
          </div>
        </div>
       
        <div class="form-group">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10 justify-content-center">
              <a class="btn btn-success btn-lg" routerLink="/show" routerLinkActve="active">Signup</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
