

<div style="width: 100%;">
  <div class="text-center pt-5">
    <h1>{{title}}</h1>
  </div>
  <div class="py-5">

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <img src="./assets/img/transction_smile_face.jpg" alt="">
        </div>
        <div class="col-md-2 mt-5">

          <a routerLink="/withdrow" routerLinkActive="active" type="button" class="btn btn-warning btn-lg"
            style="font-size: 25px;  margin-top: 50px;">WITHDROW</a>
        </div>
        <div class="col-md-2 mt-5">

          <a routerLink="/saving" routerLinkActive="active" type="button" class="btn btn-success btn-lg"
            style="font-size: 25px; margin-top: 50px;">SAVING</a>
        </div>
      </div>
    </div>
    <form class="form-inline mt-2" style="font-size: 25px;">
      <div class="col-md-9"></div>
      <div class="col-md-3 d-flex" style="font-size: 25px;">
        <input [(ngModel)]="keyword" name="keyword" (input)="searchKeyword()" class="form-control" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" id="search-data" (click)="searchKeyword()">Search</button>
      </div>

    </form>
  </div>
  <div class="py-5">
    <table class="table table-striped table-hover table-bordered">
      <thead class="bg-success text-center">
        <tr>
          <th>ID</th>
          <th>Account No</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Balance</th>
          <th>Date</th>
        </tr>
      </thead>
      <tr *ngFor = "let trans of transtactionList">
        <td>{{trans.id}}</td>
        <td>{{trans.accno}}</td>
        <td>{{trans.name}}</td>
        <td>{{trans.mobile}}</td>
        <td>{{trans.balance}}</td>
        <td>{{trans.date}}</td>
      </tr>
    </table>
  </div>
</div>
